body,
html,
#root {
  background-color: rgb(216, 228, 238);
  width: 100vw;
  height: 100vh;
}
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.button-item {
  width: 250px;
  height: 250px;
  border-radius: 1.5vw;
  border: 0.35vw solid white;
  filter: drop-shadow(10px 0px 15px rgb(11, 11, 11));
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 20px;
  
}

.button-item:hover {
  border: 0.75vw solid white;
  filter: drop-shadow(10px 0px 20px rgb(11, 11, 11));
  cursor: pointer;
}

.button-item:active {
  border: 1px solid rgba(255, 255, 255);
  box-shadow: inset 10px 10px 30px 100px rgba(255, 255, 255, 0.5);
  filter: drop-shadow(3px 2px 3px rgb(50, 50, 50));
}

.button-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 0 auto;
  padding-top: 5rem;
}
